$color__primary:#405999;
$color__secondary:#b9a88b;
$color__tertiary:#333;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: rgba(255,255,255,0.9);
$color__background-button-hover:#333;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #333;
$color__text-button:#333;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $color__text-button;
$color__link-visited: purple;
$color__link-hover: $color__primary;
$color__button-hover:#fff;
$color__text-main: #404040;
$color__text-blockquote:#000;

$color__border-button: #333;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__menu-small: $color__tertiary;
$color__menu-sub-menu:#ccc;

$color__body-fade:#fff;